<h2 class="title text-center">Features Items</h2>
{% for product in products %}
<div class="col-sm-4" onclick="location.href='/products/{{product.id}}'">
  <div class="product-image-wrapper">
    <div class="single-products">
      <div class="productinfo text-center">
        <img src="{{product.media}}{{product.image}}" alt="" />
        <h2>$ {{product.price}}</h2>
        <p>{{product.name}}</p>
      </div>
      <div class="product-overlay">
        <div class="overlay-content">
          <h2>$ {{product.price}}</h2>
          <p>{{product.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
