{% extends 'customUser/baseUser.html' %} {% block content %}
<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Wishlist</li>
      </ol>
    </div>
    <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description"></td>
            <td class="price">Price</td>
            <td></td>
            <!-- <td class="quantity">Image</td> -->
            <td></td>
          </tr>
        </thead>
        <tbody>
          {% for product in wishlist %}
          <tr>
            <td class="cart_product">
              <a href=""
                ><img height="150px" src="{{product.media}}{{product.image}}" alt=""
              /></a>
            </td>
            <td class="cart_description">
              <h4><a href="">{{product.name}}</a></h4>
              <p>Web ID: {{product.product_id}}</p>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">$ {{product.price}}</p>
            </td>
            <td>
              <button type="button" onclick="addCart()"><a class="cart_quantity_delete" href="{% url 'user:add_to_cart' id=product.product_id %}"
                ><i class="fa fa-shopping-cart fa-2x"></i
              ></a></button>
            </td>
            <td class="cart_delete">
              <form
                method="POST"
                action="{% url 'user:delete_wishlistProduct' pk=product.wishlist_id %}"
              >
                {% csrf_token %}<button
                  type="submit"
                  class="btn d-contents"
                  value="DELETE"
                >
                  <a class="cart_quantity_delete"
                    ><i class="fa fa-times"></i
                  ></a>
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script>
  function addCart() {
    alert('Added to Cart')
  }
</script>
{% endblock %}
